<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Scream Cypher</title>
    </head>
    <body>
        <slot />
    </body>
</html>

<style is:global>
    :root {
        --text-color: #e6edf3;
        --link-color: #ff94cb;

        --background-0: #15101c;
        --background-1: #241b2f;
		--background-2: #372947;

		--tag-background-1: #c05c8f;
    }
    @media (prefers-color-scheme: light) {
        :root {
            --text-color: #41333c;
            --link-color: #b0005b;

            --background-0: #dec6e7;
            --background-1: #f4eaff;
			--background-2: #faf4ff;

			--tag-background-1: #ffa4d3;
        }
    }
    html {
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-size: 1.2rem;
        color: var(--text-color);
        background-color: var(--background-0);
        line-height: 1.2;
    }
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    body {
        margin: 0;
        display: flex;
        justify-content: center;
    }
    a {
        color: var(--link-color);
    }
    a:visited {
        color: var(--link-color);
    }
	button, textarea {
		font-family: inherit;
		color: inherit;
		border: none;
		border-radius: 10px;
		padding: 5px;
	}
	textarea {
		background-color: var(--background-2);
	}
	button {
		background-color: var(--tag-background-1);
	}
</style>
